langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
streamlit
docling
pillow
PyPDF2
groq
sentence-transformers
pandas
sqlalchemy
faker
python-dotenv
pytest
pytest-cov
black
pyarrow==18.0.0
