langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
streamlit
pillow
PyPDF2
groq
pandas
sqlalchemy
faker
python-dotenv
pytest
pytest-cov
pyarrow==18.0.0
datasets==2.14.0
sentence-transformers==2.7.0
